/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background-color: gainsboro;
}

img{
  display: block;
  margin: 0 auto;
}
p{
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
